<div class="header" style="display: flex; justify-content: space-between; padding: 2vw 2vw 0px 2vw; ">
  <h2 style="font-size: 1.2vw; font-family: helvetica; font-weight: 900">
    Order List
  </h2>
  <div>
    <button class="view" [routerLink]="['/coolorder']">Create Order</button>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        📥 Download Options
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item excel-btn" (click)="exportToExcel()">
            <i class="ri-file-excel-2-fill"></i> Download Excel
          </button>
        </li>
        <li>
          <button class="dropdown-item csv-btn" (click)="csv()">
            <i class="ri-file-download-fill"></i> Download CSV
          </button>
        </li>
        <!-- <li class="file-input-container">
          <div class="file-input-wrapper">
            <span class="file-input-label">Excel File</span>
            <input type="file" class="file-input" accept=".xlsx,.xls,.csv" placeholder="Choose Excel file"
              (change)="onFileChange($event)">
          </div>
        </li> -->
      </ul>
    </div>
  </div>

</div>
<div class="order-detail-container">
  <!-- Member List Table -->
  <table class="member-table">
    <thead>
      <tr>
        <th>SN</th>
        <th>Origin
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'org' && sortType === 'asc'"
              (click)="short('org', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'org' && sortType === 'desc'"
              (click)="short('org', 'desc')"></i>
          </div>
        </th>

        <th>Destination
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'des' && sortType === 'asc'"
              (click)="short('des', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'des' && sortType === 'desc'"
              (click)="short('des', 'desc')"></i>
          </div>
        </th>

        <th>pickupport
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'pickUpPort' && sortType === 'asc'"
              (click)="short('pickUpPort', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'pickUpPort' && sortType === 'desc'"
              (click)="short('pickUpPort', 'desc')"></i>
          </div>
        </th>

        <th>Lease Start
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'leaseStart' && sortType === 'asc'"
              (click)="short('leaseStart', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'leaseStart' && sortType === 'desc'"
              (click)="short('leaseStart', 'desc')"></i>
          </div>
        </th>
        <th>Lease End
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'leaseEnd' && sortType === 'asc'"
              (click)="short('leaseEnd', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'leaseEnd' && sortType === 'desc'"
              (click)="short('leaseEnd', 'desc')"></i>
          </div>
        </th>
        <th>Rental-Days
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'rentalDays' && sortType === 'asc'"
              (click)="short('rentalDays', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'rentalDays' && sortType === 'desc'"
              (click)="short('rentalDays', 'desc')"></i>
          </div>
        </th>
        <th>Product Code
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'productCode' && sortType === 'asc'"
              (click)="short('productCode', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'productCode' && sortType === 'desc'"
              (click)="short('productCode', 'desc')"></i>
          </div>
        </th>
        <th>Create_At
          <div class="arrow">
            <i class="ri-arrow-up-s-fill" [class.active]="sortedFiled === 'create_at' && sortType === 'asc'"
              (click)="short('create_at', 'asc')"></i>
            <i class="ri-arrow-down-s-fill" [class.active]="sortedFiled === 'create_at' && sortType === 'desc'"
              (click)="short('create_at', 'desc')"></i>
          </div>
        </th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.org }}</td>
        <td>{{ order.des }}</td>
        <td>{{ order.pickUpPort }}</td>
        <td>{{ order.leaseStart | date: 'dd/MM/yyyy' }}</td>
        <td>{{ order.leaseEnd | date: 'dd/MM/yyyy' }}</td>
        <td>{{ order.rentalDays }}</td>
        <td>{{ order.productCode }}</td>
        <td>{{ order.create_at | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div style="display: flex; align-items: center; gap: 0.5vw">
            <span [ngClass]="{
               'status-draft': order.status === 'draft',
               'status-new': order.status === 'New',
               'status-approved': order.status === 'Approved'
                }">{{ order.status | uppercase}}
            </span>
            <div *ngIf="order.status === 'New' && order.hasCR">
              <span class="status-badge pending" (click)="showDialog(order.id)">Pending</span>
            </div>
          </div>
        </td>

        @if(order.status === 'draft') {
        <td>
          <div class="action" style="display: flex; gap: 1vw">
            <i class="ri-edit-fill" [routerLink]="['/update', order.id]"></i>
            <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i>
            <i class="ri-file-copy-fill" [routerLink]="['/copy-order', order.id]"></i>
          </div>
        </td>
        } @else if(order.status === 'New'){
        <td>
          <div class="action" style="display: flex; gap: 1vw">
            <i class="ri-eye-fill" [routerLink]="['/read-order', order.id]"></i>
            <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i>
            <button [routerLink]="['/change-request', order.id]" class="view">
              CR
            </button>
          </div>
        </td>
        }
        @else{
        <td>
          <div class="action" style="display: flex; gap: 1vw">
            <i class="ri-eye-fill" [routerLink]="['/read-order', order.id]"></i>
            <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i>
          </div>
        </td>
        }
      </tr>
    </tbody>
  </table>
</div>

<!-- display model -->
<div class="modal-overlay" *ngIf="openDioLog" style="padding: 1vw">
  <div class="comparison-dialog">
    <div class="dialog-header">
      <span>Text Comparison</span>
      <button class="close-btn" (click)="closeBtn()">&times;</button>
    </div>

    <ng-container>
      <div class="dialog-body card" *ngFor="let crGroup of changeData" style="margin: 1vw">
        <div class="flex">
          <span>{{ crGroup.create_at | date: 'dd/MM/yyyy' }}</span>

          <ng-container>
            <button class="approve-btn" *ngIf="!successLoader[crGroup.id] && !approved[crGroup.id]"
              (click)="approve(crGroup.id, crGroup.orderId)">
              Approve Request
            </button>

            <div *ngIf="successLoader[crGroup.id]" class="spinner small"></div>

            <div class="approved" *ngIf="approved[crGroup.id]">
              <i class="ri-check-line approved-icon"></i>
            </div>
          </ng-container>

        </div>

        <div *ngFor="let CR of crGroup.changes" class="comparison-row">
          <div class="field-name">{{ CR.field }}</div>
          <div class="value-container">
            <div class="value-box old-value">
              <span class="value-label">Old Value</span>
              {{ CR.oldValue }}
            </div>
            <div class="value-box new-value">
              <span class="value-label">New Value</span>
              {{ CR.newValue }}
            </div>
          </div>
        </div>

        <div class="comment">
          <textarea class="comment-box" readonly disabled>{{crGroup.comment}} </textarea>
        </div>
      </div>
    </ng-container>

    <div *ngIf="loaderVisibleInDialog" class="dialog-loader">
      <div class="spinner"></div>
    </div>
  </div>
</div>