<div class="header" style="display: flex; justify-content: space-between;padding: 1vw;">
    <h2 style="font-size: 1.2vw; font-family: helvetica; font-weight: 900;">Order List</h2>
    <button class="view" [routerLink]="['/coolorder']">Create Order</button>
</div>
<div class="order-detail-container">
    <!-- Member List Table -->
    <table class="member-table">
        <thead>
            <tr>
                <th>SN</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>pickUpPort</th>
                <th>Lease Start</th>
                <th>Lease End</th>
                <th>Group</th>
                <th>Product Code</th>
                <th>Create_At</th>
                <th>status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderData; let i = index">
                <td>{{i+1}} </td>
                <td>{{order.org}} </td>
                <td>{{order.des}} </td>
                <td>{{order.pickUpPort}} </td>
                <td>{{order.leaseStart}} </td>
                <td>{{order.leaseEnd}} </td>
                <td>{{order.groupId}} </td>
                <td>{{order.productCode}} </td>
                <td>{{order.create_at}}</td>
                <td>{{order.status}} </td>
                @if(order.status === 'draft'){
                 <td>
                   <div class="action" style="display: flex; gap: 1vw;">
                      <i class="ri-edit-fill" [routerLink]="['/update', order.id]"></i>
                     <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i>
                     <i class="ri-file-copy-fill" [routerLink]="['/copy-order', order.id]"></i>
                   </div>
                 </td>
                }
                @else{
                    <td>
                     <div class="action" style="display: flex; gap: 1vw;">
                      <i class="ri-eye-fill" [routerLink]="['/read-order', order.id]"></i>
                       <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i>
                       <!-- <a style="font-weight: 600 !important; cursor: pointer;">view</a> -->
                        <button [routerLink]="['/change-request', order.id]" class="view">CR</button>
                     </div>
                
                </td>
                }

                <!-- <i class="ri-delete-bin-6-fill" (click)="delete(order.id)"></i> -->
                <!-- <td><button class="login-btn" [routerLink]="['/update', order.id]">Update</button>
                <button class="login-btn" style="background-color: rgb(195, 8, 8) !important;" (click)="delete(order.id)">Delete</button>
                </td> -->
             
            </tr>
        </tbody>
    </table>