<div class="container1">
  <form [formGroup]="form">

    <div class="cards">
      <div class="card">
        <h3>{{ 'ORDER_SECTION.HEADER' | translate }}</h3>

        <div class="form-group">
          <div class="form-control">
            <label>{{ 'ORDER_SECTION.AWB_ORG' | translate }}</label>
            <input type="text" formControlName="org" [appValidateBorder]="form.controls.org" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.AWB_DEST' | translate }}</label>
            <input type="text" formControlName="des" [appValidateBorder]="form.controls.des" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.PICKUP_PORT' | translate }}</label>
            <input type="text" formControlName="pickUpPort" [appValidateBorder]="form.controls.pickUpPort" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.RETURN_PORT' | translate }}</label>
            <input type="text" formControlName="returnPort" [appValidateBorder]="form.controls.returnPort" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.LEASE_START' | translate }}</label>
            <input type="date" formControlName="leaseStart" [appValidateBorder]="form.controls.leaseStart" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.LEASE_END' | translate }}</label>
            <input type="date" formControlName="leaseEnd" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.RENTAL_DAYS' | translate }}</label>
            <input type="text" formControlName="rentalDays" [appValidateBorder]="form.controls.rentalDays" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_SECTION.LOCATION_LABEL' | translate }}</label>
            <select formControlName="locationId" [appValidateBorder]="form.controls.locationId">
              <option selected disabled>{{ 'ORDER_SECTION.SELECT_LOCATION' | translate }}</option>
              <option *ngFor="let location of location" [value]="location.id">
                {{ location.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="tabs">
    <div class="tab" [class.active]="activeTab === 'other'" (click)="setComponent('other')">
      {{ 'TABS.OTHER_REQUIREMENT' | translate }}
    </div>

    <div class="tab" [class.active]="activeTab === 'product'" (click)="setComponent('product')">
      {{ 'TABS.PRODUCT_DETAIL' | translate }}
    </div>

    <div class="tab" [class.active]="activeTab === 'flight'" (click)="setComponent('flight')">
      {{ 'TABS.FLIGHT_DETAIL' | translate }}
    </div>

    <div class="tab" [class.active]="activeTab === 'Change'" (click)="setComponent('Change')">
      {{ 'TABS.CHANGE_REQUEST' | translate }}
    </div>
  </div>

  <div>
    <ng-container *ngComponentOutlet="currentRoute"></ng-container>
  </div>
</div>
