:root {
    --primary: #4361ee;
    --secondary: #3f37c9;
    --light: #f8f9fa;
    --dark: #212529;
    --gray: #6c757d;
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    width: 15%;
    min-height: 100vh;
    background: #4361EE;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.logo {
    padding: 20px 20px 20px;
    border-bottom: 1px solid #eee;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark);
}

.nav-menu {
    padding: 20px;
}

.nav-item {
    padding: 10px 0;
    color: var(--gray);
    cursor: pointer;
    transition: all 0.2s;
}

.nav-item:hover {
    color: var(--primary);
}

.nav-item.active {
    color: var(--primary);
    font-weight: 500;
}

/* Main Content */
.main-content {
    margin-left: 15%;
    flex: 1;

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropdown-toggle {
  background-color: #4361EE;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  left: 0;
  top: 100%;
  margin-top: 5px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark);
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.excel-btn, .csv-btn {
  color: var(--dark);
}
    
.bi {
  font-size: 14px;
}
.excel-btn {
  color: #1d6f42;
}

.csv-btn {
  color: #1d6f42;
}

.bi {
  font-size: 16px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}