<div class="container1">
  <form [formGroup]="form">

    <div class="cards">
      <div class="card">
        <div style="display: flex; justify-content: space-between">
          <h3>{{ 'PRODUCT_SECTION.HEADER' | translate }}</h3>
          <!--
          <button type="button" style="padding: 0vw 1vw; font-size: 1vw" (click)="updateProductItems('add')">
            +
          </button>
          -->
        </div>

        <div class="form-group">
          <div class="form-control">
            <label>{{ 'PRODUCT_SECTION.GROUP_LABEL' | translate }}</label>
            <select
              formControlName="groupId"
              (change)="getProductByGroupId($event)"
              [appValidateBorder]="form.controls.groupId"
            >
              <option disabled selected>{{ 'PRODUCT_SECTION.SELECT_SUPPLIER_FIRST' | translate }}</option>
              <option *ngFor="let g of group" [value]="g.id">
                {{ g.name }}
              </option>
            </select>
          </div>

          <div class="form-control">
            <label>{{ 'PRODUCT_SECTION.PRODUCT_CODE_LABEL' | translate }}</label>
            <input
              type="text"
              formControlName="productCode"
              [appValidateBorder]="form.controls.productCode"
            />
          </div>
        </div>

        <div>
          <div formArrayName="productItems">
            <div
              *ngFor="let item of form.controls.productItems.controls; let i = index"
              [formGroupName]="i"
              class="product-item-row"
            >
              <div style="display: flex">
                <div class="form-control">
                  <label>{{ 'PRODUCT_SECTION.PRODUCT_LABEL' | translate }}*</label>
                  <select
                    formControlName="product"
                    class="input"
                    [appValidateBorder]="item.controls.product!"
                  >
                    <option value disabled>{{ 'PRODUCT_SECTION.SELECT_PRODUCT' | translate }}</option>
                    <option *ngFor="let product of products" [value]="product.id">
                      {{ product.name }}
                    </option>
                  </select>
                </div>

                <div class="form-control">
                  <label>{{ 'PRODUCT_SECTION.QUANTITY_LABEL' | translate }}*</label>
                  <input
                    type="text"
                    formControlName="quantity2"
                    [appValidateBorder]="item.controls.quantity2!"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
