<div class="container">
  <form [formGroup]="form">
    <div class="top-bar">
      <div class="select-bar">
        <select formControlName="orderType">
          <option selected disabled>{{ 'FORM.ORDER_TYPE' | translate }}</option>
          <option *ngFor="let ot of orderType" [value]="ot.name">
            {{ ot.name }}
          </option>
        </select>

        <select formControlName="supplierId" (change)="getSupplierId($event)">
          <option selected disabled>{{ 'FORM.CHOOSE_SUPPLIER' | translate }}</option>
          <option *ngFor="let s of supplier" [value]="s.id">
            {{ s.name }}
          </option>
        </select>
      </div>

      <div class="action-buttons">
        <button type="button" (click)="reset()" title="{{ 'FORM.RESET' | translate }}">
          ⟳
        </button>

        <button type="button" (click)="submit('draft')">
          <i class="ri-draft-line" title="{{ 'FORM.SAVE_DRAFT' | translate }}"></i>
        </button>

        <button type="button" class="orange" (click)="submit('New')">
          <i class="ri-arrow-right-line" title="{{ 'FORM.SUBMIT' | translate }}"></i>
        </button>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <h3>{{ 'FORM.ORDER_DETAILS' | translate }}</h3>
        <div class="form-group">
          <div class="form-control">
            <label>{{ 'FORM.AWB_ORG' | translate }}</label>
            <input type="text" formControlName="org" [appCustomValidator]="form.controls.org" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.AWB_DEST' | translate }}</label>
            <input type="text" formControlName="des" [appCustomValidator]="form.controls.des" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.PICKUP_PORT' | translate }}</label>
            <input type="text" formControlName="pickUpPort" [appCustomValidator]="form.controls.pickUpPort" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.RETURN_PORT' | translate }}</label>
            <input type="text" formControlName="returnPort" [appCustomValidator]="form.controls.returnPort" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.LEASE_START' | translate }}</label>
            <input type="date" formControlName="leaseStart" [appCustomValidator]="form.controls.leaseStart" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.LEASE_END' | translate }}</label>
            <input type="date" formControlName="leaseEnd" />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.RENTAL_DAYS' | translate }}</label>
            <input type="text" formControlName="rentalDays" [appCustomValidator]="form.controls.rentalDays" readonly />
          </div>
          <div class="form-control">
            <label>{{ 'FORM.LOCATION' | translate }}</label>
            <select formControlName="locationId" [appCustomValidator]="form.controls.locationId">
              <option selected disabled>{{ 'FORM.CHOOSE_LOCATION' | translate }}</option>
              <option *ngFor="let location of location" [value]="location.id">
                {{ location.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>{{ 'FORM.OTHER_REQUIREMENTS' | translate }}</h3>
        <div class="form-group">
          <div class="form-control">
            <label>{{ 'FORM.COMMODITY' | translate }}</label>
            <input type="text" placeholder="{{ 'FORM.ENTER_COMMODITY' | translate }}" formControlName="commodity"
              [appCustomValidator]="form.controls.commodity" />

            <div class="checkbox-container" *ngIf="selectedValue == 1 || selectedValue == 3">
              <div class="checkbox-option">
                <input type="checkbox" id="preconditioning" [formControl]="form.controls['precondition']" />
                <label for="preconditioning">{{ 'FORM.PRECONDITIONING' | translate }}</label>
              </div>

              <div *ngIf="form.controls['precondition'].value && selectedValue == 1">
                <select [formControl]="form.controls.preconditionDropDownValue"
                  [appCustomValidator]="form.controls.preconditionDropDownValue">
                  <option disabled>{{ 'FORM.SELECT_GROUP_FIRST' | translate }}</option>
                  <option *ngFor="let t of temp" [value]="t.id">
                    {{ t.name }}
                  </option>
                </select>
              </div>

              <div *ngIf="form.controls['precondition'].value && selectedValue == 3" style="width: 100%">
                <input type="text" formControlName="preconditionInputValue"
                  [appCustomValidator]="form.controls.preconditionInputValue" />
              </div>

              <div class="checkbox-option">
                <input type="checkbox" id="straps" [formControl]="form.controls['straps']"
                  [appCustomValidator]="form.controls.straps" />
                <label for="straps">{{ 'FORM.STRAPS' | translate }}</label>
              </div>

              <div *ngIf="form.controls['straps'].value" style="width: 100%">
                <input type="text" formControlName="strapsValue" [appCustomValidator]="form.controls.strapsValue" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div style="display: flex; justify-content: space-between">
          <h3>{{ 'FORM.PRODUCTS' | translate }}</h3>
          <button type="button" style="padding: 0vw 1vw; font-size: 1vw" (click)="updateProductItems('add')">
            +
          </button>
        </div>

        <div class="form-group">
          <div class="form-control">
            <label>{{ 'FORM.GROUP' | translate }}</label>
            <select formControlName="groupId" (change)="getProductByGroupId($event)"
              [appCustomValidator]="form.controls.groupId">
              <option disabled selected>{{ 'FORM.SELECT_SUPPLIER_FIRST' | translate }}</option>
              <option *ngFor="let g of group" [value]="g.id">
                {{ g.name }}
              </option>
            </select>
          </div>
          <div class="form-control">
            <label>{{ 'FORM.PRODUCT_CODE' | translate }}</label>
            <input type="text" formControlName="productCode" [appCustomValidator]="form.controls.productCode" />
          </div>
        </div>

        <div formArrayName="productItems">
          <div *ngFor="let item of form.controls.productItems.controls; let i = index" [formGroupName]="i"
            class="product-item-row">
            <div class="remove">
              <button *ngIf="i != 0" (click)="updateProductItems('remove', i)">
                <i class="ri-subtract-line"></i>
              </button>
            </div>

            <div class="form-control">
              <label>{{ 'FORM.PRODUCT' | translate }}*</label>
              <select formControlName="product" class="input" [appCustomValidator]="item.controls.product!">
                <option value disabled>{{ 'FORM.SELECT_PRODUCT' | translate }}</option>
                <option *ngFor="let product of products" [value]="product.id" [disabled]="disabled(product.id, i)">
                  {{ product.name }}
                </option>
              </select>
            </div>

            <div class="form-control">
              <label>{{ 'FORM.QUANTITY' | translate }}*</label>
              <input type="text" formControlName="quantity2" [appCustomValidator]="item.controls.quantity2!" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-container">
      <div class="header">
        <h2>{{ 'FORM.FLIGHT_DETAILS' | translate }}</h2>
        <button class="add-row-btn" (click)="addFlight('addFlight')" [disabled]="flightDisable">+</button>
      </div>

      <div class="flight-rows-container" formArrayName="flight" cdkDropList
        [cdkDropListData]="form.controls.flight.controls" (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y">
        <div class="flight-row" *ngFor="let flightDetail of form.controls.flight.controls; let i = index"
          [formGroupName]="i" cdkDrag cdkDragLockAxis="y" [cdkDragBoundary]="'.flight-rows-container'">
          <div class="form-group">
            <label>{{ 'FORM.FLIGHT_ID' | translate }} *</label>
            <input type="text" placeholder="{{ 'FORM.FLIGHT_ID_PH' | translate }}" formControlName="flightId"
              [appCustomValidator]="flightDetail.controls.flightId" />
          </div>

          <div class="form-group date-picker">
            <label>{{ 'FORM.FLIGHT_DATE' | translate }} *</label>
            <input type="date" placeholder="DD Mon YYYY" formControlName="flightDate"
              [appCustomValidator]="flightDetail.controls.flightDate" />
            <i class="fas fa-calendar-alt"></i>
          </div>

          <div class="form-group">
            <label>{{ 'FORM.ORIGIN' | translate }} *</label>
            <input type="text" placeholder="{{ 'FORM.ORIGIN_PH' | translate }}" formControlName="flightOrg" />
          </div>

          <div class="form-group">
            <label>{{ 'FORM.DESTINATION' | translate }} *</label>
            <input type="text" placeholder="{{ 'FORM.DESTINATION_PH' | translate }}" formControlName="flightDes" />
          </div>

          <div class="form-group">
            <label>{{ 'FORM.PRODUCT_TYPE' | translate }} *</label>
            <select formControlName="flightProductType" class="input"
              [appCustomValidator]="flightDetail.controls.flightProductType">
              <option value="" disabled>{{ 'FORM.SELECT_PRODUCT' | translate }}</option>
              <option *ngFor="let product of products" [value]="product.id">
                {{ product.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'FORM.ULD_QTY' | translate }} *</label>
            <input type="text" placeholder="{{ 'FORM.QUANTITY_PH' | translate }}" formControlName="flightOldQty"
              [appValidateTotalQuantity]="{ productArray: form.controls.productItems, flightArray: form.controls.flight, currentGroup: flightDetail }"
              [appCustomValidator]="flightDetail.controls.flightOldQty" />
          </div>

          <div class="row-actions">
            <button class="action-btn remove-btn" (click)="addFlight('removeFlight', i)">
              <i class="ri-subtract-line"></i>
            </button>
            <button class="action-btn duplicate-btn" (click)="copyValue(i)" [disabled]="flightDisable">
              <i class="ri-file-copy-line"></i>
            </button>
            <button class="action-btn reorder-btn" id="move">
              <i class="ri-menu-line" cdkDragHandle></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>