<div class="container">
  <form [formGroup]="form">
    <div class="top-bar">
      <div class="select-bar">
        <select formControlName="orderType">
          <option selected disabled>{{ 'ORDER_FORM.ORDER_TYPE' | translate }}</option>
          <option *ngFor="let ot of orderType" [value]="ot.name">
            {{ ot.name }}
          </option>
        </select>

        <select formControlName="supplierId" (change)="getSupplierId($event)">
          <option selected disabled>{{ 'ORDER_FORM.CHOOSE_SUPPLIER' | translate }}</option>
          <option *ngFor="let s of supplier" [value]="s.id">
            {{ s.name }}
          </option>
        </select>
      </div>

      <div class="action-buttons">
        <button type="button" (click)="reset()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'ORDER_FORM.RESET' | translate }}">
          ⟳
        </button>

        <button type="button" (click)="submit('draft')">
          <i class="ri-draft-line" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'ORDER_FORM.SAVE_DRAFT' | translate }}"></i>
        </button>

        <button type="button" class="orange" data-bs-toggle="tooltip" data-bs-placement="bottom" (click)="submit('New')">
          <i class="ri-arrow-right-line" title="{{ 'ORDER_FORM.SUBMIT' | translate }}"></i>
        </button>

        <button type="button" class="orange" [routerLink]="['/order-list']">{{ 'ORDER_FORM.ORDER_LIST' | translate }}</button>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <h3>{{ 'ORDER_FORM.ORDER_DETAILS' | translate }}</h3>
        <div class="form-group">
          <div class="form-control">
            <label>{{ 'ORDER_FORM.AWB_ORG' | translate }}</label>
            <input type="text" formControlName="org" [appValidateBorder]="form.controls.org" />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.AWB_DEST' | translate }}</label>
            <input type="text" formControlName="des" [appValidateBorder]="form.controls.des" />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.PICKUP_PORT' | translate }}</label>
            <input type="text" formControlName="pickUpPort" [appValidateBorder]="form.controls.pickUpPort" />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.RETURN_PORT' | translate }}</label>
            <input type="text" formControlName="returnPort" [appValidateBorder]="form.controls.returnPort" />
          </div>

          <div class="form-control">
            <label>{{ 'ORDER_FORM.LEASE_START' | translate }}</label>
            <input type="date" formControlName="leaseStart" [appValidateBorder]="form.controls.leaseStart" />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.LEASE_END' | translate }}</label>
            <input type="date" formControlName="leaseEnd" />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.RENTAL_DAYS' | translate }}</label>
            <input type="text" formControlName="rentalDays" [appValidateBorder]="form.controls.rentalDays" readonly />
          </div>
          <div class="form-control">
            <label>{{ 'ORDER_FORM.SELECT_LOCATION' | translate }}</label>
            <select formControlName="locationId" [appValidateBorder]="form.controls.locationId">
              <option selected disabled>{{ 'ORDER_FORM.SELECT_LOCATION' | translate }}</option>
              <option *ngFor="let location of location" [value]="location.id">
                {{ location.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Other cards (Requirements, Products, Flights) should follow the same pattern -->

    </div>
  </form>
</div>