 body {
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ececec;
   padding: 20px;
 }

 /* You can add global styles to this file, and also import other style files */
 /* Custom Bootstrap Tooltip */
 .tooltip-inner {
   background-color: #333;
   /* Dark gray background */
   color: #fff;
   /* White text */
   font-size: 14px;
   /* Font size */
   font-weight: 500;
   /* Semi-bold */
   border-radius: 6px;
   /* Rounded corners */
   padding: 8px 12px;
   /* Space inside */
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
   /* Soft shadow */
 }

 .tooltip.bs-tooltip-top .tooltip-arrow::before {
   border-top-color: #333;
   /* Tooltip arrow color (top) */
 }

 .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
   border-bottom-color: #333;
 }

 .tooltip.bs-tooltip-left .tooltip-arrow::before {
   border-left-color: #333;
 }

 .tooltip.bs-tooltip-right .tooltip-arrow::before {
   border-right-color: #333;
 }