<div class="container1">
  <form [formGroup]="form">
    <div class="cards">
      <div class="card">
        <h3>{{ 'OTHER_REQUIREMENTS.TITLE' | translate }}</h3>
        <div class="form-group">
          <div class="form-control">
            <label>{{ 'OTHER_REQUIREMENTS.COMMODITY_LABEL' | translate }}</label>
            <input
              type="text"
              placeholder="{{ 'OTHER_REQUIREMENTS.COMMODITY_PLACEHOLDER' | translate }}"
              formControlName="commodity"
              readonly
              [appValidateBorder]="form.controls.commodity"
            />

            <div class="checkbox-container" *ngIf="selectedValue == 1 || selectedValue == 3">
              <!-- Preconditioning -->
              <div class="checkbox-option">
                <input
                  type="checkbox"
                  id="preconditioning"
                  [formControl]="form.controls['precondition']"
                />
                <label for="preconditioning">
                  {{ 'OTHER_REQUIREMENTS.PRECONDITION_LABEL' | translate }}
                </label>
              </div>

              <!-- Dropdown if preconditioning is true -->
              <div *ngIf="form.controls['precondition'].value && selectedValue == 1">
                <select
                  [formControl]="form.controls.preconditionDropDownValue"
                  [appValidateBorder]="form.controls.preconditionDropDownValue"
                >
                  <option disabled>
                    {{ 'OTHER_REQUIREMENTS.PRECONDITION_SELECT_OPTION' | translate }}
                  </option>
                  <option *ngFor="let t of temp" [value]="t.id">{{ t.name }}</option>
                </select>
              </div>

              <!-- Input if preconditioning && selectedValue == 3 -->
              <div *ngIf="form.controls['precondition'].value && selectedValue == 3" style="width: 100%">
                <input
                  type="text"
                  formControlName="preconditionInputValue"
                  [appValidateBorder]="form.controls.preconditionInputValue"
                />
              </div>

              <!-- Straps -->
              <div class="checkbox-option">
                <input
                  type="checkbox"
                  id="straps"
                  [formControl]="form.controls['straps']"
                  [appValidateBorder]="form.controls.straps"
                />
                <label for="straps">{{ 'OTHER_REQUIREMENTS.STRAPS_LABEL' | translate }}</label>
              </div>

              <!-- Input if straps checked -->
              <div *ngIf="form.controls['straps'].value" style="width: 100%">
                <input
                  type="text"
                  formControlName="strapsValue"
                  [appValidateBorder]="form.controls.strapsValue"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
